.glow {
  will-change: filter;
  transition: filter 300ms;
}

.glow-red:hover {
  filter: drop-shadow(0 0 2em #FF5C5CAA);
}

.glow-yellow:hover {
  filter: drop-shadow(0 0 2em #FFEA00);
}

@media (prefers-reduced-motion: no-preference) {
  .fast-spin-animation {
    animation: spin infinite 1s linear;
  }

  .slow-spin-animation {
    animation: spin infinite 20s linear;
  }

  .heartbeat-animation {
    animation: heartbeat .5s infinite alternate;
    transform-origin: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat {
  to {
    transform: scale(1.4);
  }
}